<section>
  <div class="banner hero">
    <div class="container-fluid">
      <div class="row align-items-center top-padding">
        <div class="col-sm-12 col-md-6 sm-only">
            <div class="hero-image" data-aos="zoom-out" data-aos-duration="1000">
                <img src="assets/images/shopping-1.svg" alt="Hero Image">
            </div>
        </div>
          <div class="col-sm-12 col-md-6">
              <div class="hero-text" data-aos="zoom-in" data-aos-duration="1000">
                  <h1>A Social Entrepreneurship Venture</h1>
                  <p>
                    First business venture in Kerala with a business idea, coming into the world of e-commerce with the goal of creating Community/Social entrepreneurs.
                  </p>
                  <div class="hero-btn">
                      <a class="btn" [routerLink]="['/about']"  >Learn More</a>
                      <a class="btn" [routerLink]="['/contact']" href="">Contact Us</a>
                  </div>
              </div>
          </div>
          <div class="col-sm-12 col-md-6 d-md-block sm-0">
              <div class="hero-image" data-aos="zoom-out" data-aos-duration="1000">
                  <img src="assets/images/shopping-1.svg" alt="Hero Image">
              </div>
          </div>
      </div>
  </div>
  </div>
</section>