<div class="about">
  <div class="container">
      <div class="section-header text-left" data-aos="zoom-in" data-aos-duration="1000">
        <p>Learn About Us</p>
        <h2>Welcome to OnFully</h2>
      </div>
      <div class="row align-items-center">

          <div class="col-lg-5 col-md-6">
              <div class="about-img" data-aos="fade-right" data-aos-duration="1000">
                <video autoplay="autoplay" [muted]="true" class="videoBlock" [loop]="true">
                    <source src="assets/videos/intro.mp4" type="video/mp4" />
                  </video>
              </div>
          </div>
          <div class="col-lg-7 col-md-6">
              
              <div class="about-text" data-aos="fade-up" data-aos-duration="1000">
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non vulputate. Aliquam metus tortor, auctor id gravida condimentum, viverra quis sem.
                  </p>
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non vulputate. Aliquam metus tortor, auctor id gravida condimentum, viverra quis sem. Curabitur non nisl nec nisi scelerisque maximus.
                  </p>
                  <!-- <div class="text-right">
                    <a class="btn" href="">Learn More</a>
                  </div> -->
              </div>
          </div>
      </div>
  </div>
</div>
<div class="service">
  <div class="container">
      <div class="section-header text-center" data-aos="zoom-in" data-aos-duration="1000">
          <p>What we do</p>
          <h2>Why OnFully ?</h2>
      </div>
      <div class="row" data-aos="fade-up" data-aos-duration="1000">
          <div class="col-lg-4 col-md-6">
              <div class="service-item">
                  <div class="service-icon">
                    <i class="fas fa-home"></i>
                  </div>
                  <h3>Shop @ Home</h3>
                  <p>
                    From the Comforts of your home buy anything online from your nearest shops though pre-booking and weekly order collection by HaaHoo's Executive by visiting the customers House.
                  </p>
              </div>
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="service-item">
                  <div class="service-icon">
                    <i class="fas fa-ticket-alt"></i>
                  </div>
                  <h3>Career Life Mentor Support</h3>
                  <p>
                    Purchase the psychometric test to determine the real career options as per an individual's interest and it paves way to have a Career Life Mentor's Support to sort out the uncertainty in choosing the career path.
                  </p>
              </div>
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="service-item">
                  <div class="service-icon">
                    <i class="fas fa-shopping-cart"></i>
                  </div>
                  <h3>Register Shops in E-Commerce</h3>
                  <p>
                    Register your existing shop in HaaHoo and get into the E-commerce sector to bring an exponential growth in your customer base and revenue.
                  </p>
              </div>
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="service-item">
                  <div class="service-icon">
                    <i class="fas fa-store-alt"></i>
                  </div>
                  <h3>My Shop</h3>
                  <p>
                    You can create your own Digital shop and add products which are resalable and earn profit by sharing it to your friends and relative through whatsapp.
                  </p>
              </div>
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="service-item">
                  <div class="service-icon">
                    <i class="fas fa-users"></i>
                  </div>
                  <h3>Social Entrepreneurship</h3>
                  <p>
                    With the necessity of economic development through the revenue sharing within our country and state, The initiative creates social entrepreneurs who aims to develop the community and thereby creating job opportunities.
                  </p>
              </div>
          </div>
          <div class="col-lg-4 col-md-6">
              <div class="service-item">
                  <div class="service-icon">
                    <i class="fas fa-star"></i>
                  </div>
                  <h3>Premium App</h3>
                  <p>
                    Check out this feature from the app to know more as the benefits will keep on coming.
                  </p>
              </div>
          </div>
      </div>
  </div>
</div>