<div class="about-us center-align-content">
    <div class="container top-margin-100">
      <div class="section-header d-flex justtify-content-center">
        <div class="about-head text-center" data-aos="zoom-in" data-aos-duration="1000">
        <p>Get in touch</p>
        <h2>Contact</h2>
      </div>
    </div>
      <div class="row mb-5">
        <div class="col-lg-4" data-aos="fade-up" data-aos-duration="1000">
          <img src="assets/images/email.svg" class="business-image">
        </div>
        <div class="col-lg-8" data-aos="fade-up" data-aos-duration="1000">
            <div class="contact-details">
                <p><i class="fas fa-envelope"></i> contact@onfully.com</p>
                <p><i class="fas fa-phone-square"></i> +91 9898989898/ 9090909090</p>
                <p><i class="fas fa-map-marker-alt"></i> adddress, address address, address, 099009</p>
            </div>
        </div>
      </div>
    </div>
  </div>